* {
  margin: 0;
}

body {
  background-color: #33383c;
  color: white;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

button {
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
}

.button--active {
  background-color: #212121;
  color: #e2e2e2;
  padding: 12px;
  transition: 0.6s filter ease;
}

.button--active:hover {
  cursor: pointer;
  filter: brightness(50%);
}

.button--inactive {
  background-color: #aca8a8;
  color: #666666;
  font-style: italic;
}

.button--inactive:hover {
  cursor: not-allowed;
}

.button--selected {
  background-color: #4435b9;
  color: #e2e2e2;
  transition: 0.6s filter ease;
}

.button--selected:hover {
  cursor: pointer;
  filter: brightness(50%);
}

.button--toolbar-container {
  padding: 12px;
  position: relative;
}

.button--toolbar {
  width: 54px;
  height: 54px;
  padding: 0;
}

.tooltip {
  position: absolute;
  visibility: hidden;
  top: 50%;
  left: 50%;
  min-width: 240px;
  text-align: left;
  background: grey;
  z-index: 3;
  border-radius: 3px;
  font-size: 14px;
  padding: 6px 8px;
  transition: 0.5s all ease;
  opacity: 0;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transform: translate(0%, -50%);
}

.tooltip::after {
  content: '';
  position: absolute;
  border-width: 6px;
  border-style: solid;
  top: 50%;
  right: 100%;
  border-color: transparent grey transparent transparent;
  transform: translate(0%, -50%);
}

.button--toolbar-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
  left: 90%;
}

.overlay {
  position: absolute;
  visibility: hidden;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  overflow: hidden;
}

#overlay-container {
  position: absolute;
  top: 25%;
  left: 50%;
  width: 420px;
  background-color: #33383c;
  padding: 20px;
  transform: translate(-50%, 0%);
  box-shadow: 0 19px 38px rgba(0,0,0,0.20), 0 15px 12px rgba(0,0,0,0.23);
}

#overlay-title {
  text-align: center;
  padding-bottom: 12px;
  font-size: 24px;
  font-weight: bold;
}

#overlay-options {
  overflow: hidden;
  display: none;
  padding-top: 5px;
  margin-left: -10px;
  text-align: center;
}

.overlay-options-container {
  width: 28%;
  padding: 5px;
}

.overlay-options-container h3 {
  padding: 5px 0px;
}

.overlay-options-container .options .input--dim {
  width: 60px;
  margin-left: 5px;
}

#overlay-load-file {
  overflow: hidden;
  padding-bottom: 10px;
}

#overlay-tilesheet-name {
  width: 100%;
  text-align: left;
  padding: 15px 12px 12px 12px;
  border-top: 2px solid grey;
}

#overlay-name {
  width: 340px;
  text-align: left;
}

#overlay-buttons {
  padding-top: 15px;
  width: 100%;
  text-align: center;
}

#overlay-buttons button {
  margin: 0px 10px;
}

.label--file-loader {
  text-align: center;
  margin-left: 10px;
  float: right;
  transition: 0.6s filter ease;
}

.label--file-loader:hover {
  cursor: pointer;
  filter: brightness(50%);
}

.label--file-loader [type=file] {
  cursor: inherit;
  display: block;
  visibility: hidden;
  width: 0px;
  height: 0px;
  filter: alpha(opacity=0);
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

#file-loaded {
  background-color: white;
  color: black;
  float: left;
  width: 275px;
  font-size: 16px;
  margin-top: 1px;
  padding: 12px 0px 11px 5px;
  font-style: italic;
}

#top-bar {
  width: 100%;
  padding: 0px 30px;
  font-size: 16px;
  background-color: black;
}

.menu {
  position: relative;
  width: 67px;
  padding: 15px 14px;
  z-index: 100;
}

.menu:hover {
  cursor: pointer;
  background-color: #242424;
}

.menu:hover .sub-menu {
  display: block;
}

.sub-menu {
  display: none;
  position: absolute;
  left: 0px;
  top: 49px;
  padding: 0px;
  margin: 0px;
  width: 95px;
  text-align: left;
  background-color: #484848;
}

.sub-menu ul {
  list-style-type: none;
  padding: 0px;
}

.sub-menu ul li {
  padding: 14px 10px;
}

.sub-menu ul li:hover {
  background-color: #909090;
}

#content {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  text-align: center;
  height: 90%;
}

#left-content {
  padding-top: 2%;
  width: 5%;
  min-width: 80px;
}

#center-content {
  width: 75%;
  position: relative;
  overflow: hidden;
}

#canvas-menus-container {
  height: 30px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  text-align: left;
}

#canvas-settings-menu {
  position: absolute;
  left: -280px;
  top: 30px;
  width: 300px;
  text-align: center;
  transition: 0.5s all ease;
}

#canvas-settings-menu:hover {
  left: 0px;
}

#canvas-settings-options {
  width: 90%;
  background-color: black;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;
}

#canvas-settings-toggle {
  position: absolute;
  width: 20px;
  padding: 30px 10px 30px 0px;
  vertical-align: middle;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: black;
  top: 50%;
  left: 100%;
  transform: translate(0%, -50%);
}

#canvas-settings-toggle:hover {
  cursor: pointer;
}

#right-content {
  width: 20%;
  margin-top: 0px;
}

#right-content button {
  margin: 0px;
}

#tilesheet-container {
  margin-bottom: 25px;
  margin-top: 0px;
}

#canvas--tilesheet {
  margin-top: 0px;
}

#tilesheet-selection-container {
  width: 90%;
  text-align: left;
  margin: 0px auto;
}

.tilesheet-selection {
  position: relative;
  background-color: #aca8a8;
  width: 40px;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  float: left;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 2px solid black;
  border-bottom: none;
  margin-left: -5px;
}

#tilesheet-selection-container div:not(:first-child) {
  margin-left: -10px;
}

.tilesheet-selection:hover {
  cursor: pointer;
}

.tilesheet-active {
  background-color: #4435b9;
  width: auto;
  z-index: 3;
}

.tilesheet-inactive {
  z-index: 2;
}

#tilesheet-canvas-container {
  position: relative;
  margin: 5px;
}

#button--load-tilesheet {
  margin: 5px;
  position: absolute;
  right: 24px;
  bottom: 12px;
  font-size: 30px;
  width: 40px;
  height: 40px;
  padding: 0px;
  border-radius: 12px;
  transition: 0.5s width;
}

#button--load-tilesheet:hover {
  padding: 12px;
  border-radius: 12px;
  font-size: 16px;
  width: 140px;
  border-radius: 5px;
  white-space: nowrap;
  overflow: hidden;
}

.settings-container {
  margin: 5px;
  display: inline-block;
}

.options {
  margin: 5px;
  text-align: right;
}

#input--settings-color {
  width: 30px;
  height: 30px;
}

#input--settings-color:hover {
  cursor: pointer;
}

.input--dim {
  margin: 5px;
  height: 30px;
  width: 55px;
  padding-left: 10px;
  font-size: 16px;
  text-align: center;
}

#canvas-settings {
  border-left: 2px solid black;
  margin: 5px;
}

#layer-container {
  width: 91%;
  height: 18%;
  margin: 0px auto;
  overflow-x: hidden;
}

#layers {
  height: 100%;
  background-color: white;
  overflow-x: hidden;
  overflow-y: auto;
}

#layer-toolbar {
  margin: 0px auto;
  margin-bottom: 20px;
  height: 30px;
  width: 91%;
  text-align: left;
}

.layer-block {
  position: relative;
  width: 100%;
  padding: 12px;
  height: 24px;
  margin: 0px;
  background-color: #151517;
  color: white;
  text-align: left;
  border-radius: 0px;
}

.layer-block-active {
  background-color: #4435b9;
}

.layer-block-inactive {
  background-color: #c0c0c7;
  color: black;
  transition: 0.5s all;
}

.layer-block .layer-name:hover {
  cursor: pointer;
}

.layer-block-inactive:hover {
  filter: brightness(75%);
}

.layer-name {
  position: absolute;
  left: 12px;
  top: 12px;
  width: 100%;
  height: 100%;
}

.layer-options {
  position: absolute;
  top: 0px;
  right: 36px;
  padding: 0px;
  margin-top: 8px;
  text-align: right;
  vertical-align: middle;
}

.button--layer-block {
  color: white;
  width: 30px;
  height: 30px;
  padding: 0px;
}

.button--layer-block:hover {
  cursor: pointer;
  background-color: #38383d;
}

.button--layer-block-active {
  background-color: #151517;
}

.button--layer-block-inactive {
  background-color: #7a7a7e;
  color: #414141;
  transition: 0.5s all;
}

.button--layer {
  height: 30px;
  width: 30px;
  padding: 0px;
  margin: 0px;
  float: left;
}
